::selection{background:inherit;color:#c40029;}
::-moz-selection{background:inherit;color:#c40029;}

body { max-width: 40em; margin: auto; }
h1, h2, h3, h4 {margin-left: 1rem; }
h3 { margin-bottom: 0.75em; }
h4 { margin-bottom: 0.5em; }
dt { font-weight: bold; }
dd[data-type] {width: 6em;}

fieldset > ul {margin: 0; padding: 0;}
fieldset > ul > li {list-style-type: none;}
#theoretical-game-properties > button {font-size: 150%; width:100%;}

/** The list of games on the index page */

ul.gamesList {
	list-style:none;
	font-size: larger;
	padding: 0 2.5em;
	display: flex;
	flex-wrap: wrap;
}
ul.gamesList > li {
	padding: 0.5em;
	margin: 0;
	text-align: center;
	flex-grow: 1;
}
ul.gamesList > li[data-game="natural"] {width:100%}
ul.gamesList > li[data-game="theoretical"] {width:100%}

/** Data tables */

table {border-collapse: collapse; width: 100%;}
table th, table td {padding: 2px; text-align: left;}
table th {border-bottom: 1px solid black;}
table td {border: 1px dotted black; border-left: 0px; border-right: 0px;}

table.checktable td:nth-last-child(-n+4),
table.checktable th:nth-last-child(-n+4) {text-align: center;}

dl {column-width: 12em; column-count: 2;}
dl dt {break-after: avoid;}
dl dd {break-before: avoid;}

/** background (and foreground) color associated with each type */

[data-type="none"]{display:none;}
[data-type="bug"]{background-color:#a8b820}
[data-type="dark"]{background-color:#705848;color:white;}
[data-type="dragon"]{background-color:#7038f8}
[data-type="electric"]{background-color:#f8d030}
[data-type="fairy"]{background-color:#ee99ac}
[data-type="fighting"]{background-color:#c03028}
[data-type="fire"]{background-color:#f08030}
[data-type="flying"]{background-color:#a890f0}
[data-type="ghost"]{background-color:#705898;color:white}
[data-type="grass"]{background-color:#78c850}
[data-type="ground"],
[data-type="earth"]{background-color:#e0c068}
[data-type="ice"]{background-color:#98d8d8}
[data-type="dream"],
[data-type="normal"]{background-color:#a8a878}
[data-type="miasma"],
[data-type="poison"]{background-color:#a040a0;color:white}
[data-type="psychic"]{background-color:#f85888}
[data-type="rock"]{background-color:#b8a038}
[data-type="steel"]{background-color:#b8b8d0}
[data-type="unknown"]{background-color:#98c4b8}
[data-type="water"]{background-color:#6890f0}
[data-type="faith"]{background-color:#f8b010}
[data-type="wind"]{background-color: #d8e030}
[data-type="beast"]{background-color:#b8a038;}
[data-type="heart"]{background-color:#f8a8b8;}
[data-type="native"]{background-color:#78c850;}
[data-type="reason"]{background-color:#f85888;}

/** Background color associated with each game */

[data-game="natural"]{background-color:#EAC5BF;} /* hsl(5/240, 50%, 200/240) */
[data-game="fire-red"]{background-color:#F7C4B3;} /* hsl(10/240, 80%, 200/240) */
[data-game="heart-gold"]{background-color:#F2EBB7;} /* hsl(35/240, 70%, 200/240) */
[data-game="alpha-sapphire"]{background-color:#BFE4EA;} /* hsl(125/240, 50%, 200/240) */
[data-game="platinum"]{background-color:#C9D4DF;} /* hsl(140/240, 10%, 200/240) */
[data-game="white2"]{background-color:#DDDDCC;} /* hsl(40/240, 20%, 200/240) */
[data-game="randy"]{background-color:#E2C7CE;} /* hsl(230/240, 33%, 200/240) */
[data-game="colosseum"]{background-color:#DFBFEA;} /* hsl(190/240, 50%, 200/240) */
[data-game="theoretical"]{background-color:#CAEABF;} /* hsl(70/240, 50%, 200/240) */
[data-game="natural platinum"]{
	background-color:#EAC5BF;
	background: linear-gradient(to bottom, #EAC5BF 0%,#EAC5BF 50%,#C9D4DF 51%,#C9D4DF 100%);
}
[data-game="natural platinum randy"]{
	background-color:#EAC5BF;
	background: linear-gradient(to bottom, #EAC5BF 0%,#EAC5BF 33%,#C9D4DF 34%,#C9D4DF 66%,#E2C7CE 67%,#E2C7CE 100%);
}
[data-game="natural randy"]{
	background-color:#EAC5BF;
	background: linear-gradient(to bottom, #EAC5BF 0%,#EAC5BF 50%,#E2C7CE 51%,#E2C7CE 100%);
}
[data-game="alpha-sapphire platinum"]{
	background-color:#BFE4EA;
	background: linear-gradient(to bottom, #BFE4EA 0%,#BFE4EA 50%,#C9D4DF 51%,#C9D4DF 100%);
}
[data-game="alpha-sapphire white2"]{
	background-color:#BFE4EA;
	background: linear-gradient(to bottom, #BFE4EA 0%,#BFE4EA 50%,#DDDDCC 51%,#DDDDCC 100%);
}
[data-game="platinum white2"]{
	background-color:#C9D4DF;
	background: linear-gradient(to bottom, #C9D4DF 0%,#C9D4DF 50%,#DDDDCC 51%,#DDDDCC 100%);
}
[data-game="white2 randy"]{
	background-color:#DDDDCC;
	background: linear-gradient(to bottom, #DDDDCC 0%,#DDDDCC 50%,#E2C7CE 51%,#E2C7CE 100%);
}
