::selection{background:inherit;color:#c40029;}
::-moz-selection{background:inherit;color:#c40029;}

table.general-info th {text-align: left;}

table.pokemon-list {border-collapse:collapse;}
table.pokemon-list td {border:1px solid black; padding:2px;}

table.pokemon-list td[data-type="none"]{display:none;}
table.pokemon-list td[data-type="bug"]{background-color:#a8b820}
table.pokemon-list td[data-type="dark"]{background-color:#705848;color:white;}
table.pokemon-list td[data-type="dragon"]{background-color:#7038f8}
table.pokemon-list td[data-type="electric"]{background-color:#f8d030}
table.pokemon-list td[data-type="fairy"]{background-color:#ee99ac}
table.pokemon-list td[data-type="fighting"]{background-color:#c03028}
table.pokemon-list td[data-type="fire"]{background-color:#f08030}
table.pokemon-list td[data-type="flying"]{background-color:#a890f0}
table.pokemon-list td[data-type="ghost"]{background-color:#705898;color:white}
table.pokemon-list td[data-type="grass"]{background-color:#78c850}
table.pokemon-list td[data-type="ground"],
table.pokemon-list td[data-type="earth"]{background-color:#e0c068}
table.pokemon-list td[data-type="ice"]{background-color:#98d8d8}
table.pokemon-list td[data-type="dream"],
table.pokemon-list td[data-type="normal"]{background-color:#a8a878}
table.pokemon-list td[data-type="miasma"],
table.pokemon-list td[data-type="poison"]{background-color:#a040a0;color:white}
table.pokemon-list td[data-type="psychic"]{background-color:#f85888}
table.pokemon-list td[data-type="rock"]{background-color:#b8a038}
table.pokemon-list td[data-type="steel"]{background-color:#b8b8d0}
table.pokemon-list td[data-type="unknown"]{background-color:#98c4b8}
table.pokemon-list td[data-type="water"]{background-color:#6890f0}
table.pokemon-list td[data-type="faith"]{background-color:#f8b010}
table.pokemon-list td[data-type="wind"]{background-color: #d8e030}
table.pokemon-list td[data-type="beast"]{background-color:#b8a038;}
table.pokemon-list td[data-type="heart"]{background-color:#f8a8b8;}
table.pokemon-list td[data-type="native"]{background-color:#78c850;}
table.pokemon-list td[data-type="reason"]{background-color:#f85888;}

table.pokemon-list tr[data-game="natural"]{background-color:#EAC5BF;} /* hsl(5/240, 50%, 200/240) */
table.pokemon-list tr[data-game="alpha-sapphire"]{background-color:#BFE4EA;} /* hsl(125/240, 50%, 200/240) */
table.pokemon-list tr[data-game="platinum"]{background-color:#C9D4DF;} /* hsl(140/240, 10%, 200/240) */
table.pokemon-list tr[data-game="natural platinum"]{
	background-color:#EAC5BF;
	background: linear-gradient(to bottom, #EAC5BF 0%,#EAC5BF 50%,#C9D4DF 51%,#C9D4DF 100%);
}
